.cards-Container{
    display: grid;
    margin: auto;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    width: 100%;
    max-width: 1000px;
}
.card1, .card2 {
    width: 100%; /* Ocupar todo el ancho de su celda en la grid */
    height: 270px;
    background-color: #151615;
    border: solid lightgray 0.5px;
    opacity: 0.8;
    border-radius: 15px;
}