#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Centra verticalmente todo el contenido */
  background-image: url("assets/background.jpg");
  background-size: cover;
  /* Para que cubra toda la pantalla */
  background-position: center;
  /* Para centrar la imagen */
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.main-title {
  color: var(--primary-300);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

#app-name {
  text-shadow: 5px 5px 12px rgba(0, 0, 0, 1);
}

.cards-container {
  display: flex;
  align-self: center;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 90%;
}

@media (width <=820px) {
  .cards-container {
    flex-direction: column;
  }

  .main-title {
    text-align: center;
  }

  #app-name {
    width: 100%;
    font-size: 2rem;
  }
}